* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    padding: 20px;
}

.container {
    border: 2px solid black;
    background-color: #f1f1f1;
    margin-bottom: 20px;
    overflow: auto;
    min-width: 900px;
}

/* Контейнер 1 */
.first-block {
    float: left;
    margin: 15px;
    width: 200px;
    height: 50px;
    background-color: pink;
    border: 1px solid black;
}

.second-block {
    float: right;
    margin: 15px;
    width: 200px;
    height: 50px;
    background-color: pink;
    border: 1px solid black;
}

/* Контейнер 2 */
.third-block {
    float: left;
    margin: 15px;
    width: 200px;
    height: 50px;
    background-color: pink;
    border: 1px solid black;
}

.right-blocks {
    float: right;
    margin: 10px;
}

.right-blocks div {
    float: left;
    margin: 5px;
    width: 200px;
    height: 50px;
    background-color: pink;
    border: 1px solid black;
}

/* Контейнер 3 */
.left-row {
    float: left;
    margin: 10px;
}

.right-row {
    float: right;
    margin: 10px;
}

.left-row div,
.right-row div {
    float: left;
    margin: 5px;
    width: 200px;
    height: 50px;
    background-color: pink;
    border: 1px solid black;
}

/* Контейнер 4 */
.right-container {
    float: right;
    margin: 10px;
}

.vertical-block {
    float: left;
    margin: 5px;
    width: 200px;
    height: 105px;
    background-color: pink;
    border: 1px solid black;
}

.stacked-blocks {
    float: right;
}

.stacked-blocks div {
    margin: 5px;
    width: 200px;
    height: 50px;
    background-color: pink;
    border: 1px solid black;
}

/* Контейнер 5 */
.center-container {
    width: 420px;
    margin: 10px auto;
    overflow: auto;
}

.main-block {
    float: left;
    margin: 10px 5px;
    width: 200px;
    height: 105px;
    background-color: pink;
    border: 1px solid black;
}

.side-blocks {
    float: right;
    margin-top: 5px;
}

.side-blocks div {
    margin: 5px;
    width: 200px;
    height: 50px;
    background-color: pink;
    border: 1px solid black;
}