 .block {
     background-color: lightblue;
     margin: 10px;
     padding: 10px;
 }

 .inline {
     background-color: lightcoral;
     padding: 5px;
 }

 .container {
     border: 2px solid black;
     padding: 10px;
     margin: 10px;
 }