.container {
    border: 2px solid #333;
    padding: 10px;
    margin: 10px 0;
}

.item {
    background-color: lightblue;
    margin: 5px;
    padding: 10px;
}

.block-item {
    display: block;
}

.inline-item {
    display: inline;
}

.inline-block-item {
    display: inline-block;
}

.flex-container {
    display: flex;
    background-color: lightgray;
}

.box-sizing-demo {
    width: 200px;
    padding: 20px;
    border: 5px solid black;
    margin: 10px;
    background-color: lightgreen;
}

.content-box {
    box-sizing: content-box;
}

.border-box {
    box-sizing: border-box;
}