$background: lightpink;

* {
    box-sizing: border-box;
}

body {
    background-color: $background;
}

@media (max-width: 800px) {
    body{
        background-color: lightblue;
    }
}

@media (max-width: 1000px) {
    body{
        background-color: lightcoral;
    }
}

@media (max-width: 800px) {
    body{
        background-color: lightgreen;
    }
}